html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar{
    height: 70px;
}


.texto-menor
{
    font-size: 13px;
    color: #CCCCCC;
}

.divs-facilidades{
    width: 325px;
}

.section-home{
    padding-top: 70px;
}

.section-ps {
    background: blue;
    padding-top: 70px;
}

.section-xbox {
    background: green;
    padding-top: 70px;
}

.section-nintendo {
    background: red;
    padding-top: 70px;
}


.texto-servicos {
    color: #DAFF01;
}
