/* IMPORT GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom, #1a1a1a, #2f2f2f);
}

.navbar{
    height: 70px;
}


.texto-menor {
    font-size: 13px;
    color: #CCCCCC;
}

.divs-facilidades{
    width: 325px;
}

.section-home{
    padding-top: 70px;
}

.img-fluid {
    width: 100%;
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
}

.section-ps {

    padding-top: 70px;
}

.section-xbox {

    padding-top: 70px;
}

.section-nintendo {

    padding-top: 70px;
}


.texto-servicos {
    color: #DAFF01;
}
