@page
@model IndexModel
@{
    ViewData["Title"] = "Coyote Games";
}
 
<section class="section-home" id="Home"> 
    <!-- Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/NHXBTaN.png" alt="Banner da Ellie do game The Last of us" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/YmmJiRN.png" alt="Banner da Ellie do game The Last of us" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/3GzNMAP.png" alt="Banner da Ellie do game The Last of us" />
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-3">OS MELHORES GAMES ESTÃO AQUI!</h5>
                    <p>Confira nossas promoções nessa Black Friday.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/qoeoLg4.png" alt="Banner do  jogo GTA Sandreas" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/BSUd8m4.png" alt="Banner do jogo GTA Sandreas" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/M6Xjn8E.jpeg" alt="Banner do jogo  GTA Sandreas" />
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/LRAIJme.jpeg" alt="Banner do jogo Halo Infinite" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/2lHcPq4.jpeg" alt="Banner do jogo Bully" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/jnDApT8.png" alt="Banner do jogo Bully" />
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-3">OS CLÁSSICOS QUE MARCARAM A GERAÇÃO</h5>
                    <p>Temos os melhores jogos das gerações passadas pra matar aquela saudade.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Cards lançamentos e FAVORITOS -->
    <h2 class="text-center my-4">LANÇAMENTOS</h2>

    @*Aplicando GRID na class container
    * Tela para Mobile com 2 cards por linha  | Tela tablet 3 cards | Desktop 6 cards
    * Ajustando os cards com mx-auto(margin da esquerda e direita)
    * Arrumando o espaçamento entre os cards com GAP g-4
    *@
    <div class="container row mx-auto g-4">
        <div class="col-6 col-md-4 col-xxl-2">
            <div class="card">
                <img class="img-fluid" src="https://www.ziliongames.com.br/banco_imagens/produtos/p/dead-space-remake-ps5-prevenda-janeiro-2023119t.jpg" alt="Jogo Dead Space"/>
            </div>
        </div>

        <div class="col-6 col-md-4 col-xxl-2">
            <div class="card">
                <img class="img-fluid" src="https://www.ziliongames.com.br/banco_imagens/produtos/p/final-fantasy-xvi-ps5-prevenda-abril-20231Ro3.png" alt="Jogo Final Fantasy XVI" />
            </div>
        </div>

        <div class="col-6 col-md-4 col-xxl-2">
            <div class="card">
                <img class="img-fluid" src="https://www.ziliongames.com.br/banco_imagens/produtos/p/1932014115921.jpg" alt="Jogo Alien Isolation"/>
            </div>
        </div>

        <div class="col-6 col-md-4 col-xxl-2">
            <div class="card">
                <img class="img-fluid" src="https://www.ziliongames.com.br/banco_imagens/produtos/p/far-cry-6-xbox-prevenda-fevereiro-20211usS.jpeg" alt="Jogo Far Cry 6" />
            </div>
        </div>

        <div class="col-6 col-md-4 col-xxl-2">
            <div class="card">
                <img class="img-fluid" src="https://www.ziliongames.com.br/banco_imagens/produtos/p/shadow-of-the-tomb-raider-prevenda-14092018-xbox-one1MS2.jpg" alt="Jogo Dead Tom Ryder" />
            </div>
        </div>

        <div class="col-6 col-md-4 col-xxl-2">
            <div class="card">
                <img class="img-fluid" src="https://www.ziliongames.com.br/banco_imagens/produtos/p/resident-evil-4-remake-ps5-prevenda-marco-20231iIn.webp" alt="Jogo Resident Evil" />
            </div>
        </div>
    </div>

    @*Aplicando GRID na class container
    * Tela para Mobile com 1 cards por linha  | Tela tablet 2 cards | Desktop 6 cards
    * Ajustando os cards com mx-auto(margin da esquerda e direita)
    * Arrumando o espaçamento entre os cards com GAP g-4
    *@

    <h2 class="text-center my-5">OS FAVORITOS DA GALERA</h2>
    <div class="container row mx-auto">
        <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
                <img class="img-fluid" src="https://striker-games.github.io/e-commerce-games/img/jogos/batman.png" alt="Jogo Batman Arkham Knight" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Batman Arkham Knight</h5>
                    <p class="card-text">Seja o Batman e proteja Gotham City em uma emocionante jornada contra os vilões.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
                <img class="img-fluid" src="https://striker-games.github.io/e-commerce-games/img/jogos/fifa.png" alt="Jogo Fifa 23" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">FIFA 23</h5>
                    <p class="card-text">Domine o campo e viva a paixão do futebol em sua forma mais realista no FIFA 23.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
                <img class="img-fluid" src="https://striker-games.github.io/e-commerce-games/img/jogos/hp.png" alt="Jogo Hogwarts Legacy" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Hogwarts Legacy</h5>
                    <p class="card-text">Descubra o mundo mágico de Hogwarts e crie sua própria jornada de magia e aventura.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
                <img class="img-fluid" src="https://striker-games.github.io/e-commerce-games/img/jogos/deathstranding.png" alt="Jogo Dead Stranding" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Death Trading</h5>
                    <p class="card-text">Entre no sombrio mundo do combate e exploração em Death Trading, onde cada decisão pode ser fatal</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
                <img class="img-fluid" src="https://striker-games.github.io/e-commerce-games/img/jogos/spider.png" alt="Jogo Homem Aranha" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Balance pela cidade como o amigão da vizinhança protegendo Nova York como nunca antes.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
                <img class="img-fluid" src="https://striker-games.github.io/e-commerce-games/img/jogos/quarry.png" alt="Jogo The Quarry" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Explore, sobreviva e desvende segredos em uma jornada emocionante de aventura e mistério.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- PLAYSTATION -->
<section class="section-ps" id="playstation">
    <div>
        <h2 class="text-center fs-1 p-3 mb-3">Jogos exclusivos do PlayStation Studios</h2>
    </div>

    <!-- Carousel Playstation -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/KmL03le.png" alt="Banner do jogo God of War" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/ffOlgsC.png" alt="Banner do jogo God of War" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/wuGNhTP.png" alt="Banner do jogo God of War" />
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/lrV6xlw.jpeg" alt="Banner do jogo Uncharted 4" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/VfzhbvB.jpeg" alt="Banner do jogo Uncharted 4" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/72r2Iys.jpg" alt="Banner do jogo Uncharted 4" />
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/kLrn8Jk.jpeg" alt="Banner do  jogo ghost of tsushima" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/mQKCV75.jpeg" alt="Banner do jogo ghost of tsushima" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/xLEMSnb.jpg" alt="Banner do jogo ghost of tsushima" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- CARD Playstation -->
    <div class="container row mx-auto mt-4">
        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/aqZdSwWyy9JcQ66BxHDKrky6.jpg?w=780&thumb=false" alt="Jogo God of War" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Viva a batalha épica de Kratos contra deuses e criaturas em God of War: Ragnarok.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202011/1018/AQlzEC9rsPgGQp3eZwlip1ao.jpg?w=780&thumb=false" alt="Jogo Days Gone" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Sobreviva ao apocalipse zumbi e enfrente perigosas hordas em um mundo aberto implacável.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202010/2618/itbSm3suGHSSHIpmu9CCPBRy.jpg?w=780&thumb=false" alt="Jogo The Last of Us II" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Descubra uma jornada emocionante de sobrevivência e vingança em The Last of Us Part II.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202011/1101/cwFvuL4cP19wm2P5iOhutdM9.jpg?w=780&thumb=false" alt="Jogo UNCHARTED: Coleção Legado dos Ladrões" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Viva a emoção das aventuras épicas de Nathan Drake em Uncharted: Coleção Legado dos Ladrões.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202206/0506/AzhzqUuvZb22RXUSCG5uhhxh.jpg?w=780&thumb=false" alt="Jogo Valkyrie Elysium" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Descubra um mundo mitológico repleto de deuses e batalhas em Valkyrie Elysium.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202010/2119/xfCCMdjed9FsPAc7AIBLFgEq.jpg?w=780&thumb=false" alt="Jogo Detroit: Become Human" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Desvende um mundo futurista repleto de escolhas morais complexas em Detroit: Become Human.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- XBOX -->
<section class="section-xbox" Id="xbox">
    <div>
        <h2 class="text-center fs-1 p-3">Jogos exclusivos do Xbox Game Studios</h2>
    </div>

    <!-- Carousel Xbox -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/bBNlTyX.png" alt="Banner do jogo state of decay 2" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/nFOV0eN.png" alt="Banner do jogo state of decay 2" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/CDbxOLx.png" alt="Banner do jogo state of decay 2" />
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/2oGRNGf.png" alt="Banner do jogo Quantum Break" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/M0R084L.png" alt="Banner do jogo Quantum Break" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/e7ffdn0.png" alt="Banner do jogo Quantum Break" />
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/qHIWRL5.png" alt="Banner do jogo Forza 5" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/6xFEIKQ.png" alt="Banner do jogo Forza 5" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/GnDAXUv.png" alt="Banner do jogo Forza 5" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- CARD Xbox -->
    <div class="container row mx-auto mt-4">
        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.xboxservices.com/assets/4b/a4/4ba46cee-56e4-43da-bdaa-34a21dd3375b.jpg?n=984302_Gallery_1350x759_04.jpg" alt="Jogo Psychonauts 2" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Psychonauts 2</h5>
                    <p class="card-text">Explore mentes extraordinárias e mergulhe em aventuras surreais em Psychonauts 2.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.xboxservices.com/assets/53/8b/538ba42a-c16d-46c0-b4cf-090a5f39734d.jpg?n=MSFS_Gallery_Top-Gun-Maverick-02_1350x759.jpg" alt="Jogo Microsoft Flight Simulator" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Microsoft Flight Simulator</h5>
                    <p class="card-text">Experimente a sensação de voar pelo mundo inteiro com realismo inigualável.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://pbs.twimg.com/media/EbxqeKjWkAIZtDA?format=jpg&name=900x900" alt="Jogo State of Decay 2" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">State of Decay 2</h5>
                    <p class="card-text">Enfrente hordas de zumbis e tome decisões cruciais para sobreviver em State of Decay 2</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.xboxservices.com/assets/e4/7b/e47b7676-f17a-4720-b642-3f69e20db874.jpg?n=115115115115_Gallery_1_1350x759.jpg" alt="Jogo Halo Infinite" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Halo Infinite</h5>
                    <p class="card-text">Explore um vasto mundo aberto, lute contra inimigos alienígenas e desvende segredos</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.xboxservices.com/assets/53/7a/537a5bff-72e7-4187-bf36-caa7ec79a51e.jpg?n=Gears5_Gallery_1350x759_07.jpg" alt="Jogo Gears 5" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Gears 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://i0.wp.com/news.xbox.com/pt-br/wp-content/uploads/sites/8/2022/03/TunicTitledHeroArt_JPG.jpg?resize=1200%2C675&ssl=1" alt="Jogo Tunic" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Jogo</h5>
                    <p class="card-text">Explore um mundo misterioso repleto de aventuras e criaturas adoráveis em Tunic.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- NINTENDO -->
<section class="section-nintendo" id="nintendo">
    <div>
        <h2 class="text-center fs-1 p-3">Jogos exclusivos da Nintendo</h2>
    </div>

    <!-- Carousel Nintendo -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/DcDFzwp.png" alt="Banner do jogo Zelda" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/nRbDAJf.png" alt="Banner do jogo Zelda" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/S7rSaT4.jpg" alt="Banner do jogo Zelda" />
            </div>
            <div class="carousel-item active">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/HJmXqkU.png" alt="Banner do jogo Mario Odyssea" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/0qTxcoo.png" alt="Banner do jogo Mario Odyssea" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/1Hvrl8v.png" alt="Banner do jogo Mario Odyssea" />
            </div>
            <div class="carousel-item">
                <img class="img-fluid d-md-none d-xxl-none" src="https://i.imgur.com/MsbKgO0.png" alt="Banner do jogo  Xenoblade Chronicles 2" />
                <img class="img-fluid d-none d-md-block d-xxl-none" src="https://i.imgur.com/FmkM0QL.png" alt="Banner do jogo  Xenoblade Chronicles 2" />
                <img class="img-fluid d-none d-md-none d-xxl-block" src="https://i.imgur.com/19YRbC8.png" alt="Banner do jogo  Xenoblade Chronicles 2" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- CARD Nintendo -->
    <div class="container row mx-auto mt-4">
        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/software/switch/70010000063714/ea2b7333df08b27cb7313d6586838d761755fc8a17b91b17a456c966dc1605cc" alt="Jogo Zelda" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">The Legend of Zelda: Tears of the Kingdom</h5>
                    <p class="card-text">Explore terras místicas e desvende segredos ancestrais em The Legend of Zelda.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/software/switch/70010000000964/811461b8d1cacf1f2da791b478dccfe2a55457780364c3d5a95fbfcdd4c3086f" alt="Jogo Minecraft" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Minecraft</h5>
                    <p class="card-text">Crie e explore um universo infinito em Minecraft, onde a imaginação é o único limite.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/software/switch/70010000053966/849c234de8df7265201d26d9d72f88eed3f32438d3dca12fc135beb4c3befc85" alt="Jogo Pokemon Scarlet" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Pokemon Scarlet</h5>
                    <p class="card-text">Descubra o mundo dos Pokémon™ e embarque em aventuras emocionante.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/pt_BR/games/switch/m/mlb-the-show-22-switch/hero" alt="Jogo MLB The Show 22" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">MLB The Show 22</h5>
                    <p class="card-text">Viva a intensidade do beisebol com gráficos realistas e jogabilidade aprimorada</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mt-2">
            <div class="card">
                <img class="img-fluid" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/software/switch/70010000012332/ac4d1fc9824876ce756406f0525d50c57ded4b2a666f6dfe40a6ac5c3563fad9" alt="Jogo Super Smash Bros.™ Ultimate" />
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Super Smash Bros: Ultimate</h5>
                    <p class="card-text">Prepare-se para o confronto épico de ícones dos jogos em Super Smash Bros.™ Ultimate.</p>
                    <p>R$299,90</p>
                    <a href="#" class="btn btn-warning">Ver mais</a>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Formas de pagamento e entregas-->
<section class="card-entregas p-5 bg-black">
    <h2 class="text-center text-light mb-4"> Descubra todas as vantagens e recursos que oferecemos.</h2>
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4">
        <div class="divs-facilidades d-flex align-items-center">
            <div class="texto-servicos"><i class="bi bi-x-diamond fs-1"></i></div>
            <div class="ms-3">
                <div class="texto-servicos">PAGUE VIA PIX</div>
                <div class="texto-menor">Ganhe 10% Off em todos os produtos do site</div>
            </div>
        </div>

        <div class="divs-facilidades d-flex align-items-center ">
            <div class="texto-servicos"><i class="bi bi-truck fs-1"></i></div>
            <div class="ms-3">
                <div class="texto-servicos">ENTREGA EM 24H</div>
                <div class="texto-menor">Seleciona 'Entrega Express' (Apenas para São Paulo Capital)</div>
            </div>
        </div>

        <div class="divs-facilidades d-flex align-items-center">
            <div class="texto-servicos"><i class="bi bi-globe-americas fs-1"></i></div>
            <div class="ms-3">
                <div class="texto-servicos">ENVIO NACIONAL</div>
                <div class="texto-menor">Enviamos para todo Brasil</div>
            </div>
        </div>
    </div>

</section>

<!-- Receber promoções por email -->
<form class="border border-secondary m-3 p-3 text-center">
    <h5>Quer receber nossas novidades, promoções exclusivas e 10% OFF na primeira compra? Cadastre-se!</h5>
    <div class="input-group my-3">
        <input type="email" class="form-control border-secondary" placeholder="Digite seu e-mail" aria-label="Digite seu e-mail" aria-describedby="button-addon2" />
        <button type="button" id="button-addon2">Enviar</button>
    </div>
</form>












